/* Təlimçilər */

.eng {
    border-radius: var(--xxLarge, 32px);
    background: #0E0E0E;
    padding: 0 80px;
    font-family: var(--font-family-roboto);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eng img {
    width: 565.146px;
    /* height: 378.494px; */
}

.eng h1 {
    color: var(--white, #fff);
    font-size: 56px;
    font-weight: 700;
}

.eng h4 {
    border-radius: var(--big, 12px);
    background: var(--color-branding-first, #FFEA00);
    padding: 4px 16px;
    color: var(--text-text-primary, #0E0E0E);
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    margin: 8px 0 30px 0;
}

.eng h6 {
    color: var(--white, #fff);
    font-size: 20px;
    font-weight: 400;
    width: 700px;
}


/* heyet */

.debug {
    border-radius: var(--xxLarge, 32px);
    background: var(--text-text-primary, #0E0E0E);
    padding: 80px;
}

#imgSection-telimci {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 48px 0;
}

.teacherImg {
    width: 19%;
    height: 293px;
    border-radius: 32px;
    margin-top: 20px;
}

#imgDiv-telimci1 {
    background: url('https://s3-alpha-sig.figma.com/img/249a/e170/1493cda8a5c08d5af18a34cbb43b6c83?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dEothJrlQLB4Pj0j9Q4lX8nvxtPdrqli-QMPkkKSdwkWwWk9DpkkeTuaDVDlYSYB8YKpTU1iX5bczjiggwyNHEw8Qchid0WEkBVv2n8-6n0uz25HY306VTnZv7~dwEJgD1JCMFDjTmjflWGkBnP3sEWNRlJYMn35AEL~es3LKc1lfI4bs70uTtC8RnnMaX5Ea54IP0ybQldr8UiRmnHC9sFFrSDBZE3H-R7jDsdm5RROfIlyeskdTt2d2nqgbAkQvtnIi9V2iHCq8a0vQlB7HnpirYcHgSpLq1IF47~aJb-75Ah0mfcIjfjbzNuF7dxpRX87eNWpfULsQGQ9ctN7vg__') center/cover;
}

#imgDiv-telimci2 {
    background: url('https://s3-alpha-sig.figma.com/img/13ff/7ef7/4dfc567763ee0181dec12fcafb6864c6?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=nw3WeJznDyLUcXlacJ56mCl0Uz1hrtTkHjodUtccDiyBeFUckAfNiQBjNkDwLj6lqCOX5SxdizuV-wuwyiHMvPwuk7Gjx2lt0pjlZYZwJdDLrz~afhm7ZaargO66V6iKpSIxy05cViHnaJp1wd-HXz2jvYXwo1-RXMM3-GICvMIM90K3ug2FIx4somdG0L14FSCusGsgZiDwA4FJqoVlpemqvmoko0-FOAQ0wCmIsS1EkfBNZPcWrBNK-Svb9x2YZiiLJITMBj3LE6GLhdy4My1sa3sjVF-UbnGAx9FldsAo1OXqrle3dfHuuadzmDZNla4UJPRJTy1o59-JSlMi-g__') center/cover;
}

#imgDiv-telimci3 {
    background: url('https://s3-alpha-sig.figma.com/img/249a/e170/1493cda8a5c08d5af18a34cbb43b6c83?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dEothJrlQLB4Pj0j9Q4lX8nvxtPdrqli-QMPkkKSdwkWwWk9DpkkeTuaDVDlYSYB8YKpTU1iX5bczjiggwyNHEw8Qchid0WEkBVv2n8-6n0uz25HY306VTnZv7~dwEJgD1JCMFDjTmjflWGkBnP3sEWNRlJYMn35AEL~es3LKc1lfI4bs70uTtC8RnnMaX5Ea54IP0ybQldr8UiRmnHC9sFFrSDBZE3H-R7jDsdm5RROfIlyeskdTt2d2nqgbAkQvtnIi9V2iHCq8a0vQlB7HnpirYcHgSpLq1IF47~aJb-75Ah0mfcIjfjbzNuF7dxpRX87eNWpfULsQGQ9ctN7vg__') center/cover;
}

#imgDiv-telimci4 {
    background: url('https://s3-alpha-sig.figma.com/img/249a/e170/1493cda8a5c08d5af18a34cbb43b6c83?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dEothJrlQLB4Pj0j9Q4lX8nvxtPdrqli-QMPkkKSdwkWwWk9DpkkeTuaDVDlYSYB8YKpTU1iX5bczjiggwyNHEw8Qchid0WEkBVv2n8-6n0uz25HY306VTnZv7~dwEJgD1JCMFDjTmjflWGkBnP3sEWNRlJYMn35AEL~es3LKc1lfI4bs70uTtC8RnnMaX5Ea54IP0ybQldr8UiRmnHC9sFFrSDBZE3H-R7jDsdm5RROfIlyeskdTt2d2nqgbAkQvtnIi9V2iHCq8a0vQlB7HnpirYcHgSpLq1IF47~aJb-75Ah0mfcIjfjbzNuF7dxpRX87eNWpfULsQGQ9ctN7vg__') center/cover;
}

#imgDiv-telimci5 {
    background: url('https://s3-alpha-sig.figma.com/img/5392/ce2d/987157cf76373ab1332e23832d2a7ebf?Expires=1728864000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=X0DJFKeEhfzvP9N3ASPhspd3SBlhmm~4bWSRe2U7AMPpI-fCn9DO9VcdBnVtsGfMTHyPzABAu6Ej7OAALxgNCNarAr6cHqYIQSHfis2dMvOZO3k~lf7wQXtFFDf~ixAShjzR0ymF28BAqQfciFIsJ5J539roYWF6p779VZQOP7m6wq6rYezA1EkrJznglNqO05NefyrqAmhvT3DSW53-rJHKo7Nl0s4yJp3F~aknTjIMmolTaXinjt6n-G-yxzzWyJH13fCN6yiA02hRns3cKc2h-U4byYZnMJW7tGO6vnU-KLOkwlMccIW56bl96t8Aztahutk3xd7Ra6D7l9hO2w__') center/cover;
}

#telimciDiv3-section {
    color: white;
    display: flex;
    justify-content: space-between;
}

.telimciDiv-txt {
    width: 30%;
}

.telimciDiv-txt .div2 {
    display: flex;
    align-items: center;
}

.telimciDiv-txt .div2 hr {
    width: 100%;
    height: 2px;
    margin-left: 20px;
}

.telimciDiv-txt .div2 h2 {
    font-family: Gotham, sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.telimciDiv-txt h6 {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.telimciDiv-txt p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
}

#teacherButton {
    display: flex;
    justify-content: center;
    padding-top: 48px;
}

#teacherButton button {
    background-color: #FFEA00;
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    display: flex;
    width: 209px;
    height: 56px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

@media screen and (max-width: 1200px) {
    .eng img {
        width: 300px;
    }

    .eng h1 {
        font-size: 48px;
    }

    .eng h6 {
        width: 600px;
        font-size: 18px;
    }

    .content {
        font-size: 18px;
        padding: 10px;
    }

    .teacherImg {
        width: 24%;
    }

}

@media screen and (max-width: 1000px) {
    .eng {
        flex-direction: column;
        text-align: center;
    }


    .teacherImg {
        width: 28%;
    }
}

@media screen and (max-width: 800px) {
    .eng img {
        width: 250px;
        margin-bottom: 20px;
    }

    .eng h1 {
        font-size: 40px;
    }

    .eng h6 {
        width: 100%;
        font-size: 16px;
    }

    .content {
        font-size: 16px;
        padding: 8px;
    }

    .teacherImg {
        width: 46%;
    }
}

@media screen and (max-width: 600px) {
    .eng {
        padding: 40px 20px;
    }

    .eng img {
        width: 200px;
    }

    .eng h1 {
        font-size: 32px;
    }

    .eng h4 {
        font-size: 22px;
    }

    .eng h6 {
        font-size: 14px;
        width: 100%;
    }

    .content {
        font-size: 14px;
        padding: 6px;
    }

    .teacherImg {
        width: 80%;
    }
    #imgSection-telimci {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    .eng img {
        width: 150px;
    }

    .eng h1 {
        font-size: 28px;
    }

    .eng h4 {
        font-size: 18px;
    }

    .eng h6 {
        font-size: 12px;
    }
}