/* Header Main*/


/* UX/UI Section */

.eng {
    border-radius: var(--xxLarge, 32px);
    background: var(--color-branding-bg-color, #F3F3F3);
    padding: 10px 80px 80px 80px;
    font-family: var(--font-family-roboto);
}

.mostly {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eng img {
    width: 350px;
}

.eng h1 {
    color: var(--text-text-primary, #0E0E0E);
    font-size: 56px;
    font-weight: 700;
}

.eng h4 {
    border-radius: var(--big, 12px);
    background: var(--color-branding-first, #FFEA00);
    padding: 4px 16px;
    color: var(--text-text-primary, #0E0E0E);
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    margin: 8px 0 30px 0;
}

.eng h6 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    width: 700px;
}

.dizayn {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.uiux {
    background-color: var(--white);
    padding: 20px 24px;
    border-radius: var(--xxLarge, 32px);
    width: 288px;
    color: var(--text-text-primary, #0E0E0E);
}

.dizayn h3 {
    font-size: 28px;
    font-weight: 700;
}

.uiux p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 16px;
}

.active {
    border-radius: var(--xxLarge, 32px);
    background: var(--color-branding-second, #7161EF);
    color: var(--white, #fff);
}

/* İstəyirsinizsə Section */

.edit {
    padding: 80px;
    border-radius: var(--xxLarge);
    background: var(--color-branding-second);
    margin: 48px 0;
}

.edit .want {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--white);
    font-family: var(--font-family-gotham);
}

.card-section {
    display: flex;
    gap: 24px;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 32px;
    width: 100%;
    flex: 1 1 calc(50% - 20px);
}

.card-container {
    padding: 40px 32px;
}

.card .analika {
    padding: 40px 0 10px 0;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.card .desc {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
    /* width: 520px; */
    padding: 10px 0 40px 0;
}

/* 240 Section */

.spaces {
    border-radius: var(--xxLarge, 32px);
    background: #F3F3F3;
    padding: 80px;
}

.sunny {
    border-radius: var(--xxLarge, 32px);
    background: var(--White, #FFF);
    padding: 32px 40px;
    margin-top: 12px;
}

.spaces h2 {
    color: var(--text-text-primary, #0E0E0E);
    font-family: var(--font-family-gotham);
    font-size: 40px;
    font-weight: 700;
    padding: 0 0 28px 0;
}

.open {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family-roboto);
    color: var(--text-text-primary, #0E0E0E);
}

.open h3 {
    font-size: 28px;
    font-weight: 700;
}

.open p {
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
}

.plus {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--ultraLarge, 128px);
    background: var(--color-branding-bg-color, #F3F3F3);
}

/* .item-nav {
    height: 0;
    overflow: hidden;
    display: none;
    transition: height 1s ease-in-out;
} */

.item-nav {
    height: 0;
    overflow: hidden;
    transition: height 1s ease-in-out;
    padding: 0 0 0 20px;
    /* list-style-type: disc !important;  */
    list-style-type: disc !important;
}

/* .item-nav.show {
    max-height: 500px;
    height: auto;
} */

.item-nav li {
    color: #000;
    font-family: var(--font-family-roboto);
    font-size: 20px;
    font-weight: 400;
}

/* Maaşınız Section */

.board {
    margin-top: 48px;
    padding: 80px;
    border-radius: var(--xxLarge, 32px);
    background: #272727;
    font-family: var(--font-family-roboto);
}

.board h1 {
    color: var(--white, #FFF);
    font-size: 56px;
    font-weight: 700;
}

.board h4 {
    color: var(--white, #FFF);
    font-size: 26px;
    font-weight: 400;
}


.prog1 {
    height: 125px;
    width: 100%;
    display: flex;
    padding-top: 16px;
}

.yellow-part1 {
    background-color: #ffea00;
    width: 30%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
}

.black-part1 {
    background-color: #3d3b24;
    width: 70%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px;
}

.prog2 {
    height: 125px;
    width: 100%;
    display: flex;
    padding-top: 16px;
}

.yellow-part2 {
    background-color: #ffea00;
    width: 50%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
}

.black-part2 {
    background-color: #3d3b24;
    width: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px;
}

.prog3 {
    width: 100%;
    display: flex;
    padding-top: 16px;
    height: 125px;
}

.prog3 img {
    width: 120px;
}

.yellow-part3 {
    /* height: 108px; */
    background-color: #ffea00;
    width: 60%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.black-part3 {
    background-color: #3d3b24;
    width: 40%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 30px;
}

/* Bacariqlar Section */

.terminal {
    border-radius: var(--xxLarge, 32px);
    background: #F3F3F3;
    padding: 64px 80px;
    width: 100%;
    margin-top: 48px;
}

.terminal h2 {
    color: var(--text-text-primary, #0E0E0E);
    font-family: var(--font-family-gotham);
    font-size: 40px;
    font-weight: 700;
}

.terminal h6 {
    color: var(--text-text-primary, #0E0E0E);
    text-align: center;
    font-family: var(--font-family-roboto);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.terminal h3 {
    color: var(--text-text-primary, #0E0E0E);
    text-align: center;
    font-family: var(--font-family-roboto);
    font-size: 28px;
    font-weight: 700;
}

.terminal img {
    width: 350px;
    height: 490px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    object-fit: cover;
    object-position: center;
}

.utf {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.white-words {
    padding: 24px 36px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    background: var(--white, #FFF);
}


.skils {
    padding: 36px;
    border-radius: var(--xxLarge, 32px);
    background: var(--White, #FFF);
    width: 100%;
    height: auto;
}

.skils h4 {
    color: var(--text-text-secondary, #3E3E3E);
    font-family: var(--font-family-roboto);
    font-size: 26px;
    font-weight: 700;
}

.sliks p {
    color: var(--text-text-secondary, #3E3E3E);
    font-family: var(--font-family-roboto);
    font-size: 18px;
    font-weight: 500;
}

.skils-item {
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: var(--Medium, 8px);
    background: var(--color-branding-bg-color, #F3F3F3);
    padding: 8px 16px;
}

.main-skils {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-top: 20px;
}

.can {
    padding: 36px;
    border-radius: var(--xxLarge, 32px);
    background: var(--White, #FFF);
    width: 100%;
    height: auto;
    padding: 36px;
    margin-top: 24px;
}

.can h4 {
    color: var(--text-text-secondary, #3E3E3E);
    font-family: var(--font-family-roboto);
    font-size: 26px;
    font-weight: 700;
}

.can ul {
    padding-top: 20px;
}

.can ul li {
    display: flex;
    align-items: center;
    padding: 6px 0 6px 0;
}

/* Sertifikat Section */

.awake {
    background-color: #272727;
    padding: 80px;
    border-radius: var(--xxLarge, 32px);
    position: relative;
    overflow: hidden;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 48px;
}

.photo {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 180px;
    left: 0;
    opacity: 0.2;
    object-fit: cover;
}

.content {
    z-index: 5;
    font-family: var(--font-family-roboto);
}

.awake h1 {
    color: var(--white, #FFF);
    font-size: 56px;
    font-weight: var(--font-weight-bold, 700);
    width: 750px;
}

.awake h1 span {
    color: #3E3E3E;
    padding: 0 20px;
    background-color: var(--secondary-color);
    border-radius: var(--xxLarge);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    margin: 0 0 0 -10px;
}

.awake h1 span:hover {
    background-color: var(--hover-background-color);
}

.many {
    color: var(--color-grey-10, #E7E7E7);
    font-size: 20px;
    font-weight: 400;
    width: 668px;
    line-height: 1.2;
    padding-top: 30px;
}

.port {
    color: var(--color-grey-10, #E7E7E7);
    font-size: 20px;
    font-weight: 400;
    width: 820px;
    padding: 20px 0;
    line-height: 1.2;
}

.certiface {
    z-index: 5;
}

.certifaceImg {
    width: 280px;
    height: auto;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.certifaceImg:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}



/* Footer Section Section*/

@media only screen and (max-width: 1300px) {

    .utf {
        flex-direction: column;
    }

    /* .skils{
        width: 80%;
    }
    .can{
        width: 80%;
    } */
    .person {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .terminal img {
        width: 76%;
    }

    .white-words {
        width: 76%;
    }

    .port {
        width: auto;
        font-size: 18px;
    }

    .many {
        width: auto;
        font-size: 18px;
    }

    .awake h1 {
        width: auto;
        font-size: 40px;
    }
}

@media only screen and (max-width: 1200px) {
    .mostly {
        flex-direction: column;
    }

    .dizayn {
        flex-direction: column;
        align-items: center;
    }

    .uiux {
        width: 100%;
        height: auto;
        margin-top: 15px;
        text-align: center;
    }

}

@media only screen and (max-width: 900px) {
    .awake {
        flex-direction: column;
    }

    .port {

        font-size: 18px;
    }

    .many {
        font-size: 18px;
    }

    .awake h1 {
        font-size: 40px;
    }

    .terminal {
        padding: 64px 20px;
    }
}

@media only screen and (max-width: 800px) {
    .eng h1 {
        font-size: 42px;
    }

    .eng h6 {
        width: auto;
    }

    .card .desc {
        width: auto;
    }

    .edit .want {
        font-size: var(--font-size-medium);
    }

    .card .analika {
        font-size: 24px;
    }

    .yellow-part1 {
        width: 100%;
    }

    .black-part1 {
        width: 0%;
    }

    .yellow-part2 {
        width: 100%;
    }

    .black-part2 {
        width: 0%;
    }

    .yellow-part3 {
        width: 100%;
    }

    .black-part3 {
        width: 0%;
    }

    .board h1 {
        font-size: 46px;
    }

    .board h4 {
        font-size: 22px;
    }

    .awake {
        flex-direction: column;
    }

    .eng img {
        width: 300px;
    }

    .board {
        padding: 80px 40px;
    }

    .eng {
        padding: 10px 40px 80px 40px;
    }

    .spaces {
        padding: 80px 40px;
    }

    .edit {
        padding: 80px 40px;
    }
}


@media only screen and (max-width: 600px) {
    .prog1 {
        height: auto;
    }

    .prog2 {
        height: auto;
    }

    .prog3 {
        height: auto;
    }

    .prog3 img {
        display: none;
    }

    .open h3 {
        font-size: 24px;
    }

    .terminal {
        padding: 64px 10px;
    }

    .terminal h2 {
        font-size: 34px;
    }
}

@media only screen and (max-width: 500px) {
    .terminal img {
        width: 90%;
    }

    .white-words {
        width: 90%;
    }
}