/* Əlaqə qurmaq üçün Section */

.eng {
    border-radius: var(--xxLarge, 32px);
    background: var(--color-branding-bg-color, #F3F3F3);
    padding: 10px 80px 80px 80px;
    font-family: var(--font-family-roboto);
}

.mostly {
    display: flex;
    justify-content: space-between;  
    align-items: center; 
}

.eng img {
    width: 350px;
}

.eng h1 {
    color: var(--text-text-primary, #0E0E0E);
    font-size: 56px;
    font-weight: 700;
}

.eng h4 {
    border-radius: var(--big, 12px);
    background: var(--color-branding-first, #FFEA00);
    padding: 4px 16px;
    color: var(--text-text-primary, #0E0E0E);
    font-size: 26px;
    font-weight: 700;
    /* width: 315px; */
    display: inline-block;
    margin: 8px 0 30px 0;
}

.eng h6 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    width: 700px;
}

.dizayn {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.uiux {
    display: flex;
    align-items: center;
    padding: 24px 120px 24px 30px;
    border-radius: var(--xLarge, 24px);
    background: var(--white, #FFF);
    color: var(--text-text-primary, #0E0E0E);
    gap: 16px;
}

.uiux h5 {
    font-size: 22px;
    font-weight: 500;
}

.uiux p {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0 0 0;
}
/* Məsləhətləşmək üçün sorğu göndərin section main.css icinde */


/* Section Javascript */
@media only screen and (max-width: 1500px) {}

@media only screen and (max-width: 1200px) {

    .dizayn {
        flex-wrap: wrap;
        justify-content: center;
    }

    .eng h1 {
        font-size: 50px;
    }

    .eng h6 {
        width: auto;
    }
    .uiux{
        margin-top: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .uiux {
        height: auto;
    }

    .eng {
        padding: 30px 40px;
    }

    .mostly {
        flex-direction: column;
    }

    .open h3 {
        font-size: 18px;
    }

    .room {
        display: none;
    }

    .question {
        padding: var(--Large, 48px) 20px;
    }

    .eng img {
        width: 300px;
    }

    .eng h1 {
        font-size: 46px;
    }

    .uiux h5 {
        font-size: 20px;
    }

    .uiux p {
        font-size: 15px;
    }
}