/* Tədbirlər */
.eng {
    border-radius: var(--xxLarge, 32px);
    background: var(--color-branding-bg-color, #F3F3F3);
    padding: 40px 80px 40px 80px;
    font-family: var(--font-family-roboto);
}

.mostly {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eng img {
    width: 350px;
}

.eng h1 {
    color: var(--text-text-primary, #0E0E0E);
    font-size: 56px;
    font-weight: 700;
}

.eng h4 {
    border-radius: var(--big, 12px);
    background: var(--color-branding-first, #FFEA00);
    padding: 4px 16px;
    color: var(--text-text-primary, #0E0E0E);
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    margin: 8px 0 30px 0;
}

.eng h6 {
    color: var(--text-text-primary, #0E0E0E);
    font-size: 20px;
    font-weight: 400;
    width: 700px;
}

/* all */
.news {
    border-radius: var(--xxLarge, 32px);
    background: #F3F3F3;
    padding: var(--Large, 48px) 80px;
    margin-top: 48px;
}

.video-section {
    width: 100%;
    height: 480px;
    border-radius: 32px;
    overflow: hidden;
}

.video-section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.gotham {
    font-family: 'Gotham', sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 4px;
    text-align: center;
}

.card-section {
    display: flex;
    gap: 24px;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 32px;
    width: 100%;
    flex: 1 1 calc(50% - 20px);
}

.card-container {
    padding: 40px 32px;
}

.info-section {
    display: flex;
    gap: 8px;
}

.date,
.location {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 32px;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
}

.date {
    background: #FFEA00;

}

.location {
    background: #F3F3F3;
}

.date img,
.location img {
    width: 20px;
    height: 20px;
}

.card-header {
    font-size: 26px;
    font-weight: 700;
    margin-top: 24px;
}

.card-container p {
    font-size: 16px;
    margin: 16px 0;
}

.btn-section {
    display: flex;
    gap: 24px;
}

.btn-second button {
    padding: 11px 16px;
    border-radius: 8px;
    /* flex: 1; */
    width: 100%;
    border: 1px solid #5D48FC;
    text-align: center;
    cursor: pointer;
}

.btn-first {
    color: #5D48FC;
    background-color: white;
}

.btn-second {
    color: white;
    background-color: #5D48FC;
}

/* all */

.console {
    padding: var(--Large, 48px) 80px;
    border-radius: var(--xxLarge, 32px);
    background: #F3F3F3;
    margin-top: 48px;
}

.lenov {
    color: var(--text-text-primary, #0E0E0E);
    font-family: var(--font-family-gotham);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}


@media screen and (max-width: 1200px) {
    .eng img {
        width: 300px;
    }

    .eng h1 {
        font-size: 48px;
    }

    .eng h6 {
        width: 600px;
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) {
    .mostly {
        flex-direction: column;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .eng img {
        width: 250px;
        margin-bottom: 20px;
    }

    .eng h1 {
        font-size: 40px;
    }

    .eng h6 {
        width: 100%;
        font-size: 16px;
    }

}

@media screen and (max-width: 600px) {
    .eng {
        padding: 40px 20px;
    }

    .eng img {
        width: 200px;
    }

    .eng h1 {
        font-size: 32px;
    }

    .eng h4 {
        font-size: 22px;
    }

    .eng h6 {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .eng img {
        width: 150px;
    }

    .eng h1 {
        font-size: 28px;
    }

    .eng h4 {
        font-size: 18px;
    }

    .eng h6 {
        font-size: 12px;
    }
}