.eng {
    border-radius: var(--xxLarge, 32px);
    background: var(--text-text-primary, #0E0E0E);
    padding: 70px 80px 70px 80px;
    font-family: var(--font-family-roboto);
}

.mostly {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eng img {
    width: 350px;
}

.eng h1 {
    color: var(--white, #fff);
    font-size: 56px;
    font-weight: 700;
}

.eng h4 {
    border-radius: var(--big, 12px);
    background: var(--color-branding-first, #FFEA00);
    padding: 4px 16px;
    color: var(--text-text-primary, #0E0E0E);
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    margin: 8px 0 30px 0;
}

.eng h6 {
    color: var(--white, #fff);
    font-size: 20px;
    font-weight: 400;
    width: 700px;
}


/* Section Korporativ */

.edit {
    padding: 80px;
    border-radius: var(--xxLarge);
    background: #0E0E0E;
    display: flex;
    flex-direction: column;
    margin: 48px 0;
    align-items: flex-start;
}

.edit .want {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--white);
    font-family: var(--font-family-gotham);
}

.edit .ans {
    border-radius: var(--big, 12px);
    background: var(--color-branding-first, #FFEA00);
    padding: 4px 16px;
    color: var(--text-text-primary, #0E0E0E);
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    margin: 8px 0 30px 0;
}

.edit .carts {
    display: flex;
    gap: 24px;
    width: 100%; 
    flex-wrap: wrap;
}

.edit .carts .cart {
    background-color: white;
    border-radius: 32px;
    width: 100%;
    flex: 1 1 calc(50% - 20px);
    padding: 32px 40px;
    border-radius: var(--xxLarge);
    background: var(--white);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: var(--font-family-roboto);
}

.line {
    display: flex;
    justify-content: flex-end;
}

.cart .analika {
    padding: 10px 0 10px 0;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.cart .desc {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
    width: 520px;
    padding: 10px 0 40px 0;
}

@media screen and (max-width: 1520px) {
    .edit {
        padding: 80px 20px;
    }

    .edit .carts {
        justify-content: center;
    }

    .edit .carts .cart {
        width: 80%;
    }

}

@media screen and (max-width: 1200px) {
    .eng img {
        width: 300px;
    }

    .eng h1 {
        font-size: 48px;
    }

    .eng h6 {
        width: 600px;
        font-size: 18px;
    }
}

@media screen and (max-width: 1000px) {
    .edit .want{
        font-size: 32px;
    }
    .edit .ans{
        font-size: 24px;
    }
    .mostly {
        flex-direction: column;
        text-align: center;
    }

    .cart .desc {
        width: auto;
    }

}

@media screen and (max-width: 800px) {
    .eng img {
        width: 250px;
        margin-bottom: 20px;
    }

    .eng h1 {
        font-size: 40px;
    }

    .eng h6 {
        width: 100%;
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .eng {
        padding: 40px 20px;
    }

    .eng img {
        width: 200px;
    }

    .eng h1 {
        font-size: 32px;
    }

    .eng h4 {
        font-size: 22px;
    }

    .eng h6 {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .eng img {
        width: 150px;
    }

    .eng h1 {
        font-size: 28px;
    }

    .eng h4 {
        font-size: 18px;
    }

    .eng h6 {
        font-size: 12px;
    }
}