.eng {
    border-radius: var(--xxLarge, 32px);
    background: var(--text-text-primary, #0E0E0E);
    padding: 70px 80px 70px 80px;
    font-family: var(--font-family-roboto);
}

.mostly {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eng img {
    width: 350px;
}

.eng h1 {
    color: var(--white, #fff);
    font-size: 56px;
    font-weight: 700;
}

.eng h4 {
    border-radius: var(--big, 12px);
    background: var(--color-branding-first, #FFEA00);
    padding: 4px 16px;
    color: var(--text-text-primary, #0E0E0E);
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    margin: 8px 0 30px 0;
}

.eng h6 {
    color: var(--white, #fff);
    font-size: 20px;
    font-weight: 400;
    width: 700px;
}

/* Tədris Sahələri */

.output {
    border-radius: var(--xxLarge, 32px);
    background: #F3F3F3;
    padding: 60px 80px;
}

.output h2 {
    color: var(--text-text-primary, #0E0E0E);
    text-align: center;
    font-family: var(--font-family-gotham);
    font-size: 40px;
    font-weight: 700;
}

.study-nav {
    border-radius: var(--xBig, 24px);
    background: var(--White, #FFF);
    display: flex;
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
}

.study-nav a {
    color: var(--text-text-primary, #0E0E0E);
    font-family: var(--font-family-roboto);
    font-size: 18px;
    font-weight: 500;
    padding: 11px 32px;
}

.study-nav .active {
    border-radius: var(--xxLarge, 32px);
    background: var(--color-branding-third, #341AFB);
    color: #fff;
}

.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardsw {
    display: flex;
    justify-content: space-between;
    /* width: 76.5rem; */
    /* align-content: flex-start; */
    gap: 20px;
    flex-wrap: wrap;
}

.cardsw .cardw {
    display: flex;
    width: 37.5rem;
    height: 18.1875rem;
    padding: 2rem 2.5rem;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 1.5rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: #fff;
}

.cardws .cardw .card-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.cardsw .cardw svg path:first-child {
    transition: fill 0.5s ease;
}

.card-details h3 {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: 32.81px;
    text-align: left;
    padding-bottom: 20px;
}

.card-details p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    text-align: left;
}

.cardsw .cardw .card-heading img:nth-child(1) {
    width: 116px;
    height: 116px;
}

.cardsw .cardw .card-heading img:nth-child(2) {
    width: 60px;
    height: 60px;
    cursor: pointer;
}




/* Section Korporativ */

.edit {
    padding: 80px;
    border-radius: var(--xxLarge);
    background: #0E0E0E;
    display: flex;
    flex-direction: column;
    margin: 48px 0;
    align-items: flex-start;
}

.edit .want {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    color: var(--white);
    font-family: var(--font-family-gotham);
}

.edit .ans {
    border-radius: var(--big, 12px);
    background: var(--color-branding-first, #FFEA00);
    padding: 4px 16px;
    color: var(--text-text-primary, #0E0E0E);
    font-size: 26px;
    font-weight: 700;
    display: inline-block;
    margin: 8px 0 30px 0;
}

.edit .carts {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 41px;
    justify-content: space-between;
}

.edit .carts .cart {
    /* height: 241px; */
    padding: 32px 40px;
    border-radius: var(--xxLarge);
    background: var(--white);
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
    /* gap: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: var(--font-family-roboto);
}

.cart .analika {
    padding: 40px 0 10px 0;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
}

.cart .desc {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
    width: 520px;
    padding: 10px 0 40px 0;
}